name: Publish Canary Image

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/workflows/ci.yaml'
      - '.github/renovate.*'
      - '.gitignore'
      - 'PROJECT'
      - 'LICENSE'
      - 'Makefile'

# https://docs.github.com/en/rest/overview/permissions-required-for-github-apps
permissions:
  contents: read
  packages: write  

jobs:
  canary-build:
    name: Build and Publish Canary Image  
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USER }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Docker Environment
        id: vars
        uses: ./.github/actions/setup-docker-environment
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          ghcr_username: ${{ github.actor }}
          ghcr_password: ${{ secrets.GITHUB_TOKEN }}

      # Considered unstable builds
      - name: Build and Push
        uses: docker/build-push-action@v6.18.0
        with:
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            variantdev/mod:canary
            ghcr.io/variantdev/mod:canary
          cache-from: type=gha,scope=mod-canary
          cache-to: type=gha,mode=max,scope=mod-canary
