name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2

    - name: Set-up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version-file: 'go.mod'
    
    - uses: actions/cache@v5.0.2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Run tests
      run: |
        make test
  binaries:
    name: Build Binaries
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6.0.2
      -
        name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: 'go.mod'
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          version: latest
          args: release --snapshot --clean
